@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #EDEDED;
  --accent: #88A096;
  /* Sage Green */
  --accent-blue: #7C95B1;
  /* Soft Blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #EDEDED;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), monospace;
}